<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>
    <div class="container">
        <form action="validate" method="post" class="login-form">
            <h2>USER LOGIN</h2>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email">
            <br><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password">

            <input type="submit" value="LOGIN" class="submit-button">
            <br><br>
        </form>
    </div>
</body>
</html>
